# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
credit-risk-env/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large data files (optional)
data/processed/
# Ignore datasets
data/raw/
catboost_info/
*.log
*.tmp
*.bak
models/X_test.pkl
models/y_test.pkl
models/random_forest.pkl
